<form name="grantForm"
      ng-controller="JobsplusGrants.GrantEditController"
      ng-show="loaded"
      ng-submit="save(grant)"
      val-form-manager>
    <umb-panel>
        <umb-header>

            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername"
                                  ng-model="grant.Name" />
            </div>

            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <umb-options-menu ng-show="currentNode"
                                      current-node="currentNode"
                                      current-section="{{currentSection}}">
                    </umb-options-menu>
                </div>
            </div>
        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">

                    <umb-control-group label="Kraj" description="Kraj, v němž je dotace platná">
                        <select class="umb-editor umb-editor" name="select-region" ng-model="grant.RegionId"
                                ng-options="option.Id as option.Name for option in allRegions"></select>
                    </umb-control-group>

                    <umb-control-group label="Poznámka" description="Doplňující informace k dotačnímu programu">
                        <input type="text" class="umb-editor umb-textstring" ng-model="grant.Description" required />
                    </umb-control-group>

                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>





