@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "tBase.cshtml";
}

<div id="aBody" class="subpage">
    <div id="tBody">
        <div class="container">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <span class="tBody_hlText">@CurrentPage.Name</span>
                    <br />
                    <span class="tBody_vText"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="cBody">
        <div class="cBody_content">
            <div class="container">
                @Html.Action("Index", "RegisterCandidate")
            </div>
        </div>
    </div>
    <div id="bBody">
        <div class="container">
            <div class="container">
            </div>
        </div>
    </div>
</div>
