@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "tBase.cshtml";
}

<div id="aBody" class="subpage-hover">
	<div id="tBody" @*style="background-image:url('@(CurrentPage.cLogo)?height=65')"*@>
		<div class="col-md-12">
			<div class="container">
                <div class="row">
                    <div class="tBody_hlText">@CurrentPage.Name</div>
                    <span class="tBody_vText">@CurrentPage.aTypeOfWork | @CurrentPage.aRegion</span>
                </div>
			</div>
		</div>
	</div>
	<div id="cBody">
		<div class="cBody_tabs">
			<div class="container">
				<div class="row">
                    <div class="col-md-4">
                        <div id="divDetailAdvertisement" class="tab">
                            Detail pozice
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="divSimilar" class="tab">
                            Podobné
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="cBody_content">
			<div class="container">
				<div id="detailAdvertisement" class="row">
					@{ Html.RenderPartial("pvDetailAdvertisement"); }
				</div>
				<div id="similar" class="row">
					@{ Html.RenderPartial("pvSimilarAdvertisement"); }
				</div>
			</div>
		</div>
	</div>
	<div id="bBody">
		<div class="container">
			<div class="row">
				@{ Html.RenderPartial("pvFirstStepRegistration"); }
			</div>
		</div>
	</div>
</div>