@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "tBase.cshtml";
}

<div id="aBody">
	<div id="tBody" @*style="background-image:url('@(CurrentPage.logoCompany)?height=65')"*@>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<div class="container">
				<div class="row">
				<span class="tBody_hlText">@CurrentPage.Name</span>
				<br/>	
				<span class="tBody_vText">@CurrentPage.typeOfWork | @CurrentPage.region</span>
				</div>
			</div>
		</div>
	</div>
	<div id="cBody">
		<div class="cBody_tabs">
			<div class="container">
				<div class="row">
					<div id="divDetailAdvertisement" class="col-md-6">
						Detail pozice
					</div>
					<div id="divSimilar" class="col-md-6">
						Podobné
					</div>
				</div>
			</div>
		</div>
		<div class="cBody_content">
			<div class="container">
				<div id="detailadvertisement" class="row">
					@{ Html.RenderPartial("pvDetailAdvertisement"); }
				</div>
				<div id="similar" class="row">
					
				</div>
			</div>
		</div>
	</div>
	<div id="bBody">
		<div class="container">
			<div class="row">
				@{ Html.RenderPartial("pvFirstStepRegistration"); }
			</div>
		</div>
	</div>
</div>