@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "tBase.cshtml";
	var cContent = CurrentPage.Children("dtCompanyContent").Where("Visible").First();
}

<div id="aBody">
	<div id="tBody" @*style="background-image:url('@(CurrentPage.logoCompany)?height=65')"*@>
		<div class="col-md-12">
			<div class="container">
				<div class="row">
				<span class="tBody_hlText">@CurrentPage.Name</span>
				<br/>	
				<span class="tBody_vText">@cContent.cSubTitle</span>
				</div>
			</div>
		</div>
	</div>
	<div id="cBody">
		<div class="cBody_tabs">
			<div class="container">
				<div class="row">
					<div id="divAdvertisementList" class="col-md-6">
						Nabídka práce @{ Html.RenderPartial("pvCountCompanyAdvertisements"); }
					</div>
					<div id="divAboutCompany" class="col-md-6">
						O společnosti
					</div>
				</div>
			</div>
		</div>
		<div class="cBody_content">
			<div class="container">
				<div id="advertisementList" class="row">
					@{ Html.RenderPartial("pvCompanyAdvertisementList"); }
				</div>
				<div id="aboutCompany" class="row">
					@cContent.cContent
				</div>
			</div>
		</div>
	</div>
	<div id="bBody">
		<div class="container">
			<div class="row">
				@{ Html.RenderPartial("pvFirstStepRegistration"); }
			</div>
		</div>
	</div>
</div>
          