@*inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@using JobsplusUmbraco.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AdvertisementList>
@{
    Layout = "tBase.cshtml";
}

<div id="aBody">
	<div id="tBody">
        <div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="container">
				<div class="row">
                    <div class="tBody_hlText">Práce pro všechny</div>
                    <div class="tBody_vText">Práce na plný úvazek, stáže, brigády, ozp</div>
				</div>
                
                @using (Html.BeginForm("tHome", "Home"))
                {
                    <fieldset>
                        <div class="row txtWorkingField">
                            @*Html.TextBox("workingField", Model.workingField ?? "Obor nebo pozice?")*@
                            @Html.DropDownListFor(model => model.region, Model.slRegions)
                        </div>
                        <div class="row txtFulltext">
                            @Html.TextBox("fulltext", Model.fulltext, new { @class = "searchbox", placeholder = "Pozice?"})
                            @*Html.DropDownListFor(model => model.workingField, Model.slWorkingFields)*@
                        </div>
                        <div class="row btnRedirect">
                            <div class="col-md-8 sIsZTP left">
                                <span><span id="schbIsZTP" class="chbIsZTP">@Html.CheckBoxFor(model => model.IsZTP)</span><span class="lblIsZTP white fs12 uppercase">vhodné pro OZP</span></span>
                            </div>
                            <div class="col-md-4 btnFind">
                                <span><input type="submit" value="Hledat  >" /></span>
                            </div>
                        </div>
                    </fieldset>
                }
			</div>
		</div>
	</div>
	<div id="cBody">
		<div class="cBody_tabs">
			<div class="container">
				<div class="row">
                    <div class="col-md-4">
                        <div id="divTOPAdvertisementList" class="tab">
                            Volné pracovní pozice @{ Html.RenderPartial("pvCountAllAdvertisement"); }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="divTOPCompanyList" class="tab">
                            Firmy @{ Html.RenderPartial("pvCountAllCompany"); }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="divNewsList" class="tab">
                            Marketingové aktuality
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<div class="cBody_content">
			<div class="container">
				<div class="row">
					<div id="TOPCompanyList">
						@{ Html.RenderPartial("pvTOPCompanyList"); }
					</div>		
					<div id="TOPAdvertisementList">
						@{ Html.RenderPartial("pvTOPAdvertisementList"); }
					</div>
					<div id="NewsList">
						@{ Html.RenderPartial("pvNewsList"); }
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bBody">
		<div class="container">
			<div class="row">
				@{ Html.RenderPartial("pvFirstStepRegistration"); }
			</div>
		</div>
	</div>
</div>

<script src="/scripts/dropdownSearchable.js"></script>