<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT dtNews ANY>
<!ATTLIST dtNews id ID #REQUIRED>
<!ELEMENT dtBase ANY>
<!ATTLIST dtBase id ID #REQUIRED>
<!ELEMENT dtRichtextpage ANY>
<!ATTLIST dtRichtextpage id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT dtCompany ANY>
<!ATTLIST dtCompany id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT dtAdvertisement ANY>
<!ATTLIST dtAdvertisement id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT FindJob ANY>
<!ATTLIST FindJob id ID #REQUIRED>
<!ELEMENT dtNewsList ANY>
<!ATTLIST dtNewsList id ID #REQUIRED>
<!ELEMENT dtCompanyList ANY>
<!ATTLIST dtCompanyList id ID #REQUIRED>
<!ELEMENT dtTextPage ANY>
<!ATTLIST dtTextPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1124" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-08-06T21:43:08" updateDate="2015-10-05T19:44:42" nodeName="Uvod" urlName="uvod" path="-1,1124" isDoc="" nodeType="1120" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1119" nodeTypeAlias="Home">
    <hiddenInNavi>0</hiddenInNavi>
    <metaTitle><![CDATA[Úvodní stránka]]></metaTitle>
    <page><![CDATA[Úvod]]></page>
    <FindJob id="1182" parentID="1124" level="2" creatorID="0" sortOrder="0" createDate="2015-10-09T09:11:12" updateDate="2015-10-19T18:33:09" nodeName="Najít práci" urlName="najít-práci" path="-1,1124,1182" isDoc="" nodeType="1181" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1186" nodeTypeAlias="FindJob">
      <hiddenInNavi>0</hiddenInNavi>
      <page><![CDATA[Najít práci]]></page>
    </FindJob>
    <dtTextPage id="1127" parentID="1124" level="2" creatorID="0" sortOrder="1" createDate="2015-08-10T17:54:42" updateDate="2015-10-09T09:13:14" nodeName="O nas" urlName="o-nas" path="-1,1124,1127" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[O nás]]></metaTitle>
      <page><![CDATA[O nás]]></page>
    </dtTextPage>
    <dtTextPage id="1128" parentID="1124" level="2" creatorID="0" sortOrder="2" createDate="2015-08-10T17:56:03" updateDate="2015-10-09T09:13:14" nodeName="Kontakt" urlName="kontakt" path="-1,1124,1128" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Kontakt]]></metaTitle>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Kontakt",
                  "editor": {
                    "name": "Banner Headline",
                    "alias": "banner_headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold; text-align:center",
                      "markup": "<h1 style='font-size:62px;text-align:center'>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "3f3fa005-753b-9787-cd51-150a03cde8cb"
        }
      ]
    }
  ]
}]]></content>
      <page><![CDATA[Kontakt]]></page>
    </dtTextPage>
    <dtRichtextpage id="1158" parentID="1124" level="2" creatorID="0" sortOrder="3" createDate="2015-08-16T19:14:28" updateDate="2015-08-24T20:38:04" nodeName="VIP vstup" urlName="vip-vstup" path="-1,1124,1158" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="LoginForm" />
<p> </p>]]></bodyText>
    </dtRichtextpage>
    <dtCompanyList id="1138" parentID="1124" level="2" creatorID="0" sortOrder="4" createDate="2015-08-10T20:01:26" updateDate="2015-10-09T09:13:14" nodeName="Seznam firem" urlName="seznam-firem" path="-1,1124,1138" isDoc="" nodeType="1137" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1136" nodeTypeAlias="dtCompanyList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtCompany id="1135" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-10T19:52:46" updateDate="2015-08-21T20:51:17" nodeName="Kovotrend s.r.o." urlName="kovotrend-sro" path="-1,1124,1138,1135" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <contentCompany><![CDATA[<p>O společnosti</p>]]></contentCompany>
        <logoCompany><![CDATA[/media/1051/baleriny.png]]></logoCompany>
        <shortDescriptionCompany><![CDATA[<p>Výroba a realizace montovaných staveb, ocelové haly a konstrukce</p>]]></shortDescriptionCompany>
        <topCompany>1</topCompany>
        <dtAdvertisement id="1140" parentID="1135" level="4" creatorID="0" sortOrder="0" createDate="2015-08-10T20:24:32" updateDate="2015-10-19T20:12:36" nodeName="Hledáme prodavačku" urlName="hledáme-prodavačku" path="-1,1124,1138,1135,1140" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
          <hiddenInNavi>0</hiddenInNavi>
          <advertiser>1153</advertiser>
          <contentAdvertisement><![CDATA[<p>obsah</p>]]></contentAdvertisement>
          <region><![CDATA[Plzeňský kraj]]></region>
          <typeOfWork><![CDATA[Hlavní pracovní poměr]]></typeOfWork>
          <workingField><![CDATA[Potravinářství a potravinářská chemie]]></workingField>
          <requiredEducation><![CDATA[Střední škola bez maturity]]></requiredEducation>
          <ztp>1</ztp>
          <city><![CDATA[Plzeň]]></city>
          <topAdvertisement>0</topAdvertisement>
        </dtAdvertisement>
        <dtAdvertisement id="1145" parentID="1135" level="4" creatorID="0" sortOrder="1" createDate="2015-08-16T12:20:54" updateDate="2015-10-19T20:17:37" nodeName="Kdo to ví, nepoví XY" urlName="kdo-to-ví-nepoví-xy" path="-1,1124,1138,1135,1145" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
          <hiddenInNavi>0</hiddenInNavi>
          <contentAdvertisement><![CDATA[<p>fjaljfalfjaůfjajfaůf</p>
<p>fjalfjaůfjafjůajfaůaj</p>
<p>flfjafjaůfjaljfajfldjfljflfjslfjsdlfjslfjsfjslfjslfjsf</p>
<p> </p>
<ul>
<li> fgdfgsgs</li>
<li>gjslgjsůůgjs</li>
<li>jgslgjsůgsj</li>
</ul>
<p>gkjslgjsůgjslůgjsgůlsjgdl</p>]]></contentAdvertisement>
          <region><![CDATA[Hlavní město Praha]]></region>
          <typeOfWork><![CDATA[Poloviční pracovní poměř]]></typeOfWork>
          <workingField><![CDATA[Kožedělná a obuvnická výroba a zpracování plastů]]></workingField>
          <requiredEducation><![CDATA[Základní]]></requiredEducation>
          <ztp>0</ztp>
          <city><![CDATA[Praha]]></city>
          <topAdvertisement>1</topAdvertisement>
        </dtAdvertisement>
        <dtAdvertisement id="1162" parentID="1135" level="4" creatorID="0" sortOrder="2" createDate="2015-08-16T21:43:45" updateDate="2015-09-06T16:39:45" nodeName="Hledáme malíře pokojů" urlName="hledame-malire-pokoju" path="-1,1124,1138,1135,1162" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
          <hiddenInNavi>0</hiddenInNavi>
          <advertiser>1153</advertiser>
          <region><![CDATA[Plzeňský kraj]]></region>
          <typeOfWork><![CDATA[Práce na IČO]]></typeOfWork>
          <workingField><![CDATA[Umění a užité umění]]></workingField>
          <requiredEducation><![CDATA[Střední odborná škola s maturitou]]></requiredEducation>
          <ztp>1</ztp>
          <city><![CDATA[Plzeň]]></city>
          <topAdvertisement>0</topAdvertisement>
        </dtAdvertisement>
      </dtCompany>
      <dtCompany id="1150" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-16T13:50:04" updateDate="2015-08-21T20:51:17" nodeName="Global Industry co." urlName="global-industry-co" path="-1,1124,1138,1150" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <dtAdvertisement id="1175" parentID="1150" level="4" creatorID="0" sortOrder="0" createDate="2015-08-21T21:46:09" updateDate="2015-09-06T21:28:23" nodeName="Hledáme uklízečku" urlName="hledame-uklizecku" path="-1,1124,1138,1150,1175" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
          <hiddenInNavi>0</hiddenInNavi>
          <region><![CDATA[Liberecký kraj]]></region>
          <typeOfWork><![CDATA[Dohoda o provedení práce]]></typeOfWork>
          <workingField><![CDATA[Osobní a provozní služby]]></workingField>
          <requiredEducation><![CDATA[Střední škola s maturitou]]></requiredEducation>
          <ztp>1</ztp>
          <city><![CDATA[Liberec]]></city>
          <topAdvertisement>0</topAdvertisement>
        </dtAdvertisement>
      </dtCompany>
    </dtCompanyList>
    <dtRichtextpage id="1159" parentID="1124" level="2" creatorID="0" sortOrder="5" createDate="2015-08-16T19:29:14" updateDate="2015-10-09T09:13:14" nodeName="Můj profil" urlName="muj-profil" path="-1,1124,1159" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="EditProfileForm" />]]></bodyText>
    </dtRichtextpage>
    <dtRichtextpage id="1164" parentID="1124" level="2" creatorID="0" sortOrder="6" createDate="2015-08-16T22:14:20" updateDate="2015-10-09T09:13:14" nodeName="Registrace" urlName="registrace" path="-1,1124,1164" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>1</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="RegisterForm" />
<p> </p>]]></bodyText>
    </dtRichtextpage>
    <dtNewsList id="1173" parentID="1124" level="2" creatorID="0" sortOrder="7" createDate="2015-08-21T20:23:23" updateDate="2015-10-09T09:13:14" nodeName="Aktuality" urlName="aktuality" path="-1,1124,1173" isDoc="" nodeType="1169" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1168" nodeTypeAlias="dtNewsList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtNews id="1174" parentID="1173" level="3" creatorID="0" sortOrder="0" createDate="2015-08-21T20:26:00" updateDate="2015-08-21T20:51:30" nodeName="Nový web" urlName="novy-web" path="-1,1124,1173,1174" isDoc="" nodeType="1171" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1170" nodeTypeAlias="dtNews">
        <hiddenInNavi>0</hiddenInNavi>
        <contentNews><![CDATA[<p>Zprovoznili jsme pro Vás nový <strong>web</strong></p>]]></contentNews>
      </dtNews>
    </dtNewsList>
    <dtRichtextpage id="1184" parentID="1124" level="2" creatorID="0" sortOrder="8" createDate="2015-10-11T21:48:53" updateDate="2015-10-11T21:48:53" nodeName="Test registrace" urlName="test-registrace" path="-1,1124,1184" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1183" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Test registrace]]></metaTitle>
    </dtRichtextpage>
  </Home>
</root>