<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT dtNews ANY>
<!ATTLIST dtNews id ID #REQUIRED>
<!ELEMENT dtBase ANY>
<!ATTLIST dtBase id ID #REQUIRED>
<!ELEMENT dtRichtextpage ANY>
<!ATTLIST dtRichtextpage id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT dtCompany ANY>
<!ATTLIST dtCompany id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT dtAdvertisement ANY>
<!ATTLIST dtAdvertisement id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT FindJob ANY>
<!ATTLIST FindJob id ID #REQUIRED>
<!ELEMENT dtCompanyContent ANY>
<!ATTLIST dtCompanyContent id ID #REQUIRED>
<!ELEMENT dtNewsList ANY>
<!ATTLIST dtNewsList id ID #REQUIRED>
<!ELEMENT dtCompanyList ANY>
<!ATTLIST dtCompanyList id ID #REQUIRED>
<!ELEMENT dtTextPage ANY>
<!ATTLIST dtTextPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1124" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-08-06T21:43:08" updateDate="2015-10-05T19:44:42" nodeName="Uvod" urlName="uvod" path="-1,1124" isDoc="" nodeType="1120" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1119" nodeTypeAlias="Home">
    <hiddenInNavi>0</hiddenInNavi>
    <metaTitle><![CDATA[Úvodní stránka]]></metaTitle>
    <page><![CDATA[Úvod]]></page>
    <FindJob id="1182" parentID="1124" level="2" creatorID="0" sortOrder="0" createDate="2015-10-09T09:11:12" updateDate="2015-10-19T18:33:09" nodeName="Najít práci" urlName="najít-práci" path="-1,1124,1182" isDoc="" nodeType="1181" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1186" nodeTypeAlias="FindJob">
      <hiddenInNavi>0</hiddenInNavi>
      <page><![CDATA[Najít práci]]></page>
    </FindJob>
    <dtTextPage id="1127" parentID="1124" level="2" creatorID="0" sortOrder="1" createDate="2015-08-10T17:54:42" updateDate="2015-10-09T09:13:14" nodeName="O nas" urlName="o-nas" path="-1,1124,1127" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[O nás]]></metaTitle>
      <page><![CDATA[O nás]]></page>
    </dtTextPage>
    <dtTextPage id="1128" parentID="1124" level="2" creatorID="0" sortOrder="2" createDate="2015-08-10T17:56:03" updateDate="2015-10-09T09:13:14" nodeName="Kontakt" urlName="kontakt" path="-1,1124,1128" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Kontakt]]></metaTitle>
      <tpContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Kontakt",
                  "editor": {
                    "name": "Banner Headline",
                    "alias": "banner_headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold; text-align:center",
                      "markup": "<h1 style='font-size:62px;text-align:center'>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "3f3fa005-753b-9787-cd51-150a03cde8cb"
        }
      ]
    }
  ]
}]]></tpContent>
      <page><![CDATA[Kontakt]]></page>
    </dtTextPage>
    <dtRichtextpage id="1158" parentID="1124" level="2" creatorID="0" sortOrder="3" createDate="2015-08-16T19:14:28" updateDate="2015-08-24T20:38:04" nodeName="VIP vstup" urlName="vip-vstup" path="-1,1124,1158" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <rpContent><![CDATA[<?UMBRACO_MACRO macroAlias="LoginForm" />
<p> </p>]]></rpContent>
    </dtRichtextpage>
    <dtCompanyList id="1138" parentID="1124" level="2" creatorID="0" sortOrder="4" createDate="2015-08-10T20:01:26" updateDate="2015-10-21T01:17:49" nodeName="Seznam firem" urlName="seznam-firem" path="-1,1124,1138" isDoc="" nodeType="1137" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1136" nodeTypeAlias="dtCompanyList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtCompany id="1150" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-16T13:50:04" updateDate="2015-10-21T18:32:09" nodeName="Thermont spol. s r.o." urlName="thermont-spol-s-ro" path="-1,1124,1138,1150" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <cKredit><![CDATA[50]]></cKredit>
        <cTop>0</cTop>
        <dtCompanyContent id="1201" parentID="1150" level="4" creatorID="0" sortOrder="1" createDate="2015-10-20T22:47:11" updateDate="2015-10-21T13:12:58" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1150,1201" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Dodávka a realizace osvětlení a odvětrávání všech typů budov]]></cSubTitle>
          <cContent><![CDATA[<p><strong>THERMONT spol. s r.o.</strong> je firma zabývající se prosvětlovacími systémy ve stavebnictví. Hlavním cílem firmy je poskytovat kvalitní služby za přijatelnou cenu, servis a solidární záruční podmínky. Společnost dodává a případně montuje výrobky pro osvětlení a odvětrávání všech typů budov- rodinných domů, komerčních objektů, průmyslových či skladovacích hal. Cílem společnosti je co nejvíce ušetřit na energetických výdajích domácností a firem a vytváření zdravého životního prostředí. Společnost na českém trhu působí již od roku 1993.</p>]]></cContent>
          <dtAdvertisement id="1175" parentID="1201" level="5" creatorID="0" sortOrder="1" createDate="2015-08-21T21:46:09" updateDate="2015-10-21T13:52:38" nodeName="Montážní dělník" urlName="montazni-delnik" path="-1,1124,1138,1150,1201,1175" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>Vyučen v oboru zámečník nebo příbuzném oboru</li>
<li>Svářečský průkaz výhodou</li>
<li>Pracovitost, samostatnost</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Montáž hliníkových oken nebo střešních světlíků</li>
<li>Práce na stavbách po celé České republice, v pracovních skupinách 3-4 zaměstnanců</li>
<li>Doprava auty FORD TRANZIT</li>
<li>Při montáži vzdálené více než 80 km zajištujeme ubytování</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>120 Kč/ hod</li>
<li>Přesčasové příplatky</li>
<li>Diety</li>
<li>Možnost pracovního poměru, agenturní zaměstnanec nebo živnostník s IČO</li>
<li>Pracovní růst</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP na dobu neurčitou, vhodné pro osoby se ZP, nástup ihned.</p>]]></aContent>
            <aRegion><![CDATA[Celá ČR]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr, doba neurčitá]]></aTypeOfWork>
            <aWorkingField><![CDATA[Strojírenství a strojírenská výroba]]></aWorkingField>
            <aRequiredEducation><![CDATA[Vyučen v oboru]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[nespecifikováno]]></aCity>
          </dtAdvertisement>
          <dtAdvertisement id="1202" parentID="1201" level="5" creatorID="0" sortOrder="1" createDate="2015-10-21T13:13:44" updateDate="2015-10-21T13:52:47" nodeName="Stavební zámečník" urlName="stavebni-zamecnik" path="-1,1124,1138,1150,1201,1202" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>Vyučen v oboru zámečník nebo příbuzném oboru</li>
<li>Svářečský průkaz výhodou</li>
<li>Pracovitost, samostatnost</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Montáž hliníkových oken nebo střešních světlíků</li>
<li>Práce na stavbách po celé České republice, v pracovních skupinách 3-4 zaměstnanců</li>
<li>Doprava auty FORD TRANZIT</li>
<li>Při montáži vzdálené více než 80 km zajištujeme ubytování</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>120 Kč/ hod</li>
<li>Přesčasové příplatky</li>
<li>Diety</li>
<li>Možnost pracovního poměru, agenturní zaměstnanec nebo živnostník s IČO</li>
<li>Pracovní růst</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP na dobu neurčitou, vhodné pro osoby se ZP, nástup ihned.</p>]]></aContent>
            <aRegion><![CDATA[Celá ČR]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr, doba neurčitá]]></aTypeOfWork>
            <aWorkingField><![CDATA[Strojírenství a strojírenská výroba]]></aWorkingField>
            <aRequiredEducation><![CDATA[Vyučen v oboru]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[nespecifikováno]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1135" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-10T19:52:46" updateDate="2015-10-21T18:33:54" nodeName="Kovotrend s.r.o." urlName="kovotrend-sro" path="-1,1124,1138,1135" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <cKredit><![CDATA[100]]></cKredit>
        <cTop>1</cTop>
        <dtCompanyContent id="1198" parentID="1135" level="4" creatorID="0" sortOrder="3" createDate="2015-10-20T20:39:12" updateDate="2015-10-21T13:36:30" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1135,1198" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Výroba a realizace montovaných staveb, ocelové haly a konstrukce]]></cSubTitle>
          <cContent><![CDATA[<p><strong>KOVOTREND s.r.o</strong>. je moderní, dynamicky se rozvíjející společnost, která realizuje výrobní a skladové haly, autosalony, sportovní haly, administrativní budovy a jiné objekty po celé České republice a řadí se k předním výrobcům a dodavatelům montovaných staveb. Tyto objektY navrhuje a realizuje dle požadavků investora s využitím bohatých zkušeností.</p>]]></cContent>
          <dtAdvertisement id="1140" parentID="1198" level="5" creatorID="0" sortOrder="1" createDate="2015-08-10T20:24:32" updateDate="2015-10-21T13:52:22" nodeName="Rozpočtář, příprava zakázek" urlName="rozpoctar-priprava-zakazek" path="-1,1124,1138,1135,1198,1140" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aAdvertiser>1153</aAdvertiser>
            <aTop>1</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>SŠ,VŠ vzdělání technického směru, ŘP sk. B</li>
<li>znalost výkresových souborů CAD, MS Office</li>
<li>spolehlivost a chuť pracovat</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Tvorba cenových nabídek</li>
<li>Zpracování kalkulačních podkladů, kalkulace rozpočtů</li>
<li>Příprava podkladů pro realizaci stavebních zakázek</li>
<li>Spolupráce s útvary organizace</li>
<li>Sběr dat a analýza faktorů</li>
<li>Vedení dokumentace</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>odpovídající ohodnocení</li>
</ul>
<p> </p>
<p>Vhodné zaměstnání i pro OZZ, OZP, ZTP</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Fryšták]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1193" parentID="1138" level="3" creatorID="0" sortOrder="2" createDate="2015-10-20T20:32:45" updateDate="2015-10-21T18:32:13" nodeName="Thermont Napajedla s.r.o." urlName="thermont-napajedla-sro" path="-1,1124,1138,1193" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>0</hiddenInNavi>
        <cKredit><![CDATA[150]]></cKredit>
        <cTop>1</cTop>
        <dtCompanyContent id="1194" parentID="1193" level="4" creatorID="0" sortOrder="0" createDate="2015-10-20T20:33:59" updateDate="2015-10-21T12:56:23" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1193,1194" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Realizace osvětlení a odvětrávání všech typů budov]]></cSubTitle>
          <cContent><![CDATA[<p><strong>Thermont Napajedla s.r.o.</strong> je firma zabývající se prosvětlovacími systémy ve stavebnictví. Hlavním cílem firmy je poskytovat kvalitní služby za přijatelnou cenu, servis a solidární záruční podmínky. Společnost dodává a případně montuje výrobky pro osvětlení a odvětrávání všech typů budov- rodinných domů, komerčních objektů, průmyslových či skladovacích hal. Cílem společnosti je co nejvíce ušetřit na energetických výdajích domácností a firem a vytváření zdravého životního prostředí. Společnost na českém trhu působí již od roku 1993. </p>]]></cContent>
          <dtAdvertisement id="1196" parentID="1194" level="5" creatorID="0" sortOrder="1" createDate="2015-10-20T20:37:00" updateDate="2015-10-21T13:53:01" nodeName="Administrativní pracovník" urlName="administrativni-pracovnik" path="-1,1124,1138,1193,1194,1196" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>Úplné středoškolské vzdělání (nejlépe ekonomického směru)</li>
<li>Znalost práce na PC</li>
<li>Znalost AJ a NJ výhodou</li>
<li>Dobré komunikační a organizační schopnosti</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Psaní nabídek a dopisů</li>
<li>Objednávky materiálu</li>
<li>Prodej materiálů a výrobků</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>Telefon</li>
<li>Pracovní růst</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP, vhodné pro osoby se ZP, nástup leden 2016</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Napajedla]]></aCity>
          </dtAdvertisement>
          <dtAdvertisement id="1197" parentID="1194" level="5" creatorID="0" sortOrder="2" createDate="2015-10-20T20:38:04" updateDate="2015-10-21T13:53:08" nodeName="Konstruktér - rozpočtář" urlName="konstrukter-rozpoctar" path="-1,1124,1138,1193,1194,1197" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>1</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>min. ÚSO (Středoškolské s maturitou a vyšší) stavebního nebo strojního směru</li>
<li>Znalost práce na PC</li>
<li>Znalost programu AutoCAD</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Tvorba výkresové a projektové dokumentace střešních světlíků, přístřešků, pergol</li>
<li>Tvorba cenových nabídek</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>Telefon</li>
<li>Pracovní růst</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP na dobu neurčitou, vhodné pro osoby se ZP, nástup leden 2016.</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr, doba neurčitá]]></aTypeOfWork>
            <aWorkingField><![CDATA[Strojírenství a strojírenská výroba]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Napajedla]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1203" parentID="1138" level="3" creatorID="0" sortOrder="3" createDate="2015-10-21T13:27:27" updateDate="2015-10-21T22:32:15" nodeName="Kovotrend stavby s.r.o." urlName="kovotrend-stavby-sro" path="-1,1124,1138,1203" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>0</hiddenInNavi>
        <cKredit><![CDATA[100]]></cKredit>
        <cTop>0</cTop>
        <dtCompanyContent id="1204" parentID="1203" level="4" creatorID="0" sortOrder="0" createDate="2015-10-21T13:28:47" updateDate="2015-10-21T13:29:03" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1203,1204" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Výroba a realizace montovaných staveb, ocelové haly a konstrukce]]></cSubTitle>
          <cContent><![CDATA[<p><strong>KOVOTREND STAVBY s.r.o</strong>. je moderní, dynamicky se rozvíjející společnost, která realizuje výrobní a skladové haly, autosalony, sportovní haly, administrativní budovy a jiné objekty po celé České republice a řadí se k předním výrobcům a dodavatelům montovaných staveb. Tyto objektY navrhuje a realizuje dle požadavků investora s využitím bohatých zkušeností.</p>]]></cContent>
          <dtAdvertisement id="1205" parentID="1204" level="5" creatorID="0" sortOrder="0" createDate="2015-10-21T13:30:08" updateDate="2015-10-21T13:53:33" nodeName="Rozpočtář, příprava zakázek" urlName="rozpoctar-priprava-zakazek" path="-1,1124,1138,1203,1204,1205" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>SŠ,VŠ vzdělání technického směru, ŘP sk. B</li>
<li>znalost výkresových souborů CAD, MS Office</li>
<li>spolehlivost a chuť pracovat</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Tvorba cenových nabídek</li>
<li>Zpracování kalkulačních podkladů, kalkulace rozpočtů</li>
<li>Příprava podkladů pro realizaci stavebních zakázek</li>
<li>Spolupráce s útvary organizace</li>
<li>Sběr dat a analýza faktorů</li>
<li>Vedení dokumentace</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>Zázemí kvalitní společnosti</li>
<li>odpovídající ohodnocení</li>
</ul>
<p> </p>
<p>Vhodné zaměstnání i pro OZZ, OZP, ZTP</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Fryšták]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1206" parentID="1138" level="3" creatorID="0" sortOrder="4" createDate="2015-10-21T13:43:07" updateDate="2015-10-21T18:32:21" nodeName="Na Webu s.r.o." urlName="na-webu-sro" path="-1,1124,1138,1206" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>0</hiddenInNavi>
        <cKredit><![CDATA[20]]></cKredit>
        <cTop>0</cTop>
        <dtCompanyContent id="1207" parentID="1206" level="4" creatorID="0" sortOrder="0" createDate="2015-10-21T13:45:09" updateDate="2015-10-21T13:45:09" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1206,1207" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Zprostředkování online nákupů]]></cSubTitle>
          <cContent><![CDATA[<p><strong>NA WEBU s.r.o</strong>. je společnost vlastnící internetový obchod sportnawebu.cz, který je členem rodiny obchodů vsenawebu.cz. Snahou firmy je zákazníkům nákupy co nejvíce zjednodušit a zpříjemnit. Zboží, které si zákazníci mohou zakoupit je nakupováno pouze u přímých dovozců nebo autorizovaných prodejců. SportNaWebu.cz se již dlouhá léta specializuje na sportovní potřeby a vybavení pro zimní sporty, cyklistiku, in-line bruslení, outdoor, vodáctví a další oblíbené sporty. Kromě sportovních potřeb společnost nabízí i kompletní sportovní oblečení, které je dokonale prodyšné a pohodlné, a sportovní obuv.</p>]]></cContent>
          <dtAdvertisement id="1208" parentID="1207" level="5" creatorID="0" sortOrder="0" createDate="2015-10-21T13:49:54" updateDate="2015-10-22T15:48:02" nodeName="Administrativní pracovník" urlName="administrativní-pracovník" path="-1,1124,1138,1206,1207,1208" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>1</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>Úplné středoškolské vzdělání</li>
<li>znalost práce na PC, ideálně zkušenost se správou webu a e-shopu</li>
<li>Dobré komunikační a organizační schopnosti, samostatnost, kreativita, pečlivost, ochota učit se</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Správa e-shopu, webových stránek</li>
<li>Vkládání a změna dat</li>
<li>Vytváření nabídek</li>
<li>Zpracování objednávek</li>
<li>Komunikace se zákazníky</li>
<li>Expedice</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>zázemí stabilní společnosti</li>
<li>odpovídající ohodnocení</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP, vhodné pro osoby se ZP, OZZ, OZP, ZTP, nástup leden 2016.</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Zlín]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1209" parentID="1138" level="3" creatorID="0" sortOrder="5" createDate="2015-10-21T13:54:25" updateDate="2015-10-21T18:34:04" nodeName="EGO Zlín, spol. s r.o." urlName="ego-zlín-spol-s-ro" path="-1,1124,1138,1209" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>0</hiddenInNavi>
        <cKredit><![CDATA[50]]></cKredit>
        <cTop>0</cTop>
        <dtCompanyContent id="1210" parentID="1209" level="4" creatorID="0" sortOrder="0" createDate="2015-10-21T13:57:59" updateDate="2015-10-21T13:57:59" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1209,1210" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cSubTitle><![CDATA[Výroba komplexního systému pro urgentní medicínu]]></cSubTitle>
          <cContent><![CDATA[<p><strong>EGO Zlín, spol. s r.o.</strong> je česká firma, která je významným výrobcem a dodavatelem komplexního systému biologické ochrany, logistických a dekontaminačních systémů a prostředků pro urgentní medicínu či dlouhodobou péči. Firma se zabývá rovněž vývojovými programy, které se opírají o konkrétní požadavky zákazníků či vycházejí z aktuálních celosvětových potřeb. Byla založena v roce 1992 a od té doby navázala obchodní spolupráci nejen s konečnými uživateli po celé ČR, ale i v zahraničních zemí - Slovenská republika, Polsko, Německo, Velká Británie, Švédsko, Litva, Lotyšsko, Estonsko, Ukrajina, Portugalsko, Turecko, Angola, Jihoafrická republika, Vietnam, Austrálie, Nový Zéland, USA, Kanada a další</p>]]></cContent>
          <dtAdvertisement id="1211" parentID="1210" level="5" creatorID="0" sortOrder="0" createDate="2015-10-21T14:02:09" updateDate="2015-10-21T14:02:09" nodeName="Asistentka generálního ředitele pro zahraniční rozvojovou a humanitární pomoc" urlName="asistentka-generalniho-reditele-pro-zahranicni-rozvojovou-a-humanitarni-pomoc" path="-1,1124,1138,1209,1210,1211" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Požadujeme:</p>
<ul>
<li>Vysokoškolské popř. středoškolské vzdělání</li>
<li>Angličtina na velmi dobré úrovni</li>
<li>Praxe min 5 let s jednáním se zahraničními partnery</li>
<li>Schopnost samostatného řízení projektů</li>
<li>Příjemný vzhled a vystupování</li>
</ul>
<p>Pracovní náplň:</p>
<ul>
<li>Řízení obchodních projektů (realizovaných v zahraniční) od zpracování projektu až po vlastní realizaci.</li>
</ul>
<p>Nabízíme:</p>
<ul>
<li>zázemí stabilní společnosti</li>
<li>možnost cestovat do různých koutů světa</li>
<li>odpovídající ohodnocení</li>
<li>služební mobilní telefon, notebook</li>
</ul>
<p> </p>
<p>Jednosměnný provoz, HPP, nástup leden 2016.</p>]]></aContent>
            <aRegion><![CDATA[Mimo ČR]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Vysoká škola]]></aRequiredEducation>
            <aZtp>0</aZtp>
            <aCity><![CDATA[Zlín Štípa]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
    </dtCompanyList>
    <dtRichtextpage id="1159" parentID="1124" level="2" creatorID="0" sortOrder="5" createDate="2015-08-16T19:29:14" updateDate="2015-10-09T09:13:14" nodeName="Můj profil" urlName="můj-profil" path="-1,1124,1159" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <rpContent><![CDATA[<?UMBRACO_MACRO macroAlias="EditProfileForm" />]]></rpContent>
    </dtRichtextpage>
    <dtRichtextpage id="1164" parentID="1124" level="2" creatorID="0" sortOrder="6" createDate="2015-08-16T22:14:20" updateDate="2015-10-09T09:13:14" nodeName="Registrace" urlName="registrace" path="-1,1124,1164" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>1</hiddenInNavi>
      <rpContent><![CDATA[<?UMBRACO_MACRO macroAlias="RegisterForm" />
<p> </p>]]></rpContent>
    </dtRichtextpage>
    <dtNewsList id="1173" parentID="1124" level="2" creatorID="0" sortOrder="7" createDate="2015-08-21T20:23:23" updateDate="2015-10-09T09:13:14" nodeName="Aktuality" urlName="aktuality" path="-1,1124,1173" isDoc="" nodeType="1169" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1168" nodeTypeAlias="dtNewsList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtNews id="1174" parentID="1173" level="3" creatorID="0" sortOrder="0" createDate="2015-08-21T20:26:00" updateDate="2015-08-21T20:51:30" nodeName="Nový web" urlName="nový-web" path="-1,1124,1173,1174" isDoc="" nodeType="1171" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1170" nodeTypeAlias="dtNews">
        <hiddenInNavi>0</hiddenInNavi>
        <nContent><![CDATA[<p>Zprovoznili jsme pro Vás nový <strong>web</strong></p>]]></nContent>
      </dtNews>
    </dtNewsList>
    <dtRichtextpage id="1184" parentID="1124" level="2" creatorID="0" sortOrder="8" createDate="2015-10-11T21:48:53" updateDate="2015-10-11T21:48:53" nodeName="Test registrace" urlName="test-registrace" path="-1,1124,1184" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1183" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Test registrace]]></metaTitle>
    </dtRichtextpage>
  </Home>
</root>