<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT dtNews ANY>
<!ATTLIST dtNews id ID #REQUIRED>
<!ELEMENT dtBase ANY>
<!ATTLIST dtBase id ID #REQUIRED>
<!ELEMENT dtRichtextpage ANY>
<!ATTLIST dtRichtextpage id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT dtCompany ANY>
<!ATTLIST dtCompany id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT dtAdvertisement ANY>
<!ATTLIST dtAdvertisement id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT FindJob ANY>
<!ATTLIST FindJob id ID #REQUIRED>
<!ELEMENT dtCompanyContent ANY>
<!ATTLIST dtCompanyContent id ID #REQUIRED>
<!ELEMENT dtNewsList ANY>
<!ATTLIST dtNewsList id ID #REQUIRED>
<!ELEMENT dtCompanyList ANY>
<!ATTLIST dtCompanyList id ID #REQUIRED>
<!ELEMENT dtTextPage ANY>
<!ATTLIST dtTextPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1124" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-08-06T21:43:08" updateDate="2015-10-05T19:44:42" nodeName="Uvod" urlName="uvod" path="-1,1124" isDoc="" nodeType="1120" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1119" nodeTypeAlias="Home">
    <hiddenInNavi>0</hiddenInNavi>
    <metaTitle><![CDATA[Úvodní stránka]]></metaTitle>
    <page><![CDATA[Úvod]]></page>
    <FindJob id="1182" parentID="1124" level="2" creatorID="0" sortOrder="0" createDate="2015-10-09T09:11:12" updateDate="2015-10-19T18:33:09" nodeName="Najít práci" urlName="najít-práci" path="-1,1124,1182" isDoc="" nodeType="1181" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1186" nodeTypeAlias="FindJob">
      <hiddenInNavi>0</hiddenInNavi>
      <page><![CDATA[Najít práci]]></page>
    </FindJob>
    <dtTextPage id="1127" parentID="1124" level="2" creatorID="0" sortOrder="1" createDate="2015-08-10T17:54:42" updateDate="2015-10-09T09:13:14" nodeName="O nas" urlName="o-nas" path="-1,1124,1127" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[O nás]]></metaTitle>
      <page><![CDATA[O nás]]></page>
    </dtTextPage>
    <dtTextPage id="1128" parentID="1124" level="2" creatorID="0" sortOrder="2" createDate="2015-08-10T17:56:03" updateDate="2015-10-09T09:13:14" nodeName="Kontakt" urlName="kontakt" path="-1,1124,1128" isDoc="" nodeType="1122" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1114" nodeTypeAlias="dtTextPage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Kontakt]]></metaTitle>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Kontakt",
                  "editor": {
                    "name": "Banner Headline",
                    "alias": "banner_headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold; text-align:center",
                      "markup": "<h1 style='font-size:62px;text-align:center'>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "3f3fa005-753b-9787-cd51-150a03cde8cb"
        }
      ]
    }
  ]
}]]></content>
      <page><![CDATA[Kontakt]]></page>
    </dtTextPage>
    <dtRichtextpage id="1158" parentID="1124" level="2" creatorID="0" sortOrder="3" createDate="2015-08-16T19:14:28" updateDate="2015-08-24T20:38:04" nodeName="VIP vstup" urlName="vip-vstup" path="-1,1124,1158" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="LoginForm" />
<p> </p>]]></bodyText>
    </dtRichtextpage>
    <dtCompanyList id="1138" parentID="1124" level="2" creatorID="0" sortOrder="4" createDate="2015-08-10T20:01:26" updateDate="2015-10-21T01:17:49" nodeName="Seznam firem" urlName="seznam-firem" path="-1,1124,1138" isDoc="" nodeType="1137" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1136" nodeTypeAlias="dtCompanyList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtCompany id="1150" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-16T13:50:04" updateDate="2015-10-21T01:17:49" nodeName="Global Industry co." urlName="global-industry-co" path="-1,1124,1138,1150" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <kredit><![CDATA[50]]></kredit>
        <dtCompanyContent id="1201" parentID="1150" level="4" creatorID="0" sortOrder="1" createDate="2015-10-20T22:47:11" updateDate="2015-10-21T01:17:50" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1150,1201" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cTop>0</cTop>
          <cSubTitle><![CDATA[Industry co.]]></cSubTitle>
          <cContent><![CDATA[<p>fafakfhahgůajgůa</p>]]></cContent>
          <dtAdvertisement id="1175" parentID="1201" level="5" creatorID="0" sortOrder="1" createDate="2015-08-21T21:46:09" updateDate="2015-10-21T01:17:50" nodeName="Hledáme uklízečku" urlName="hledáme-uklízečku" path="-1,1124,1138,1150,1201,1175" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aRegion><![CDATA[Liberecký kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Dohoda o provedení práce]]></aTypeOfWork>
            <aWorkingField><![CDATA[Osobní a provozní služby]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Liberec]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1135" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2015-08-10T19:52:46" updateDate="2015-10-21T01:17:50" nodeName="Kovotrend s.r.o." urlName="kovotrend-sro" path="-1,1124,1138,1135" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>1</hiddenInNavi>
        <kredit><![CDATA[100]]></kredit>
        <dtCompanyContent id="1198" parentID="1135" level="4" creatorID="0" sortOrder="3" createDate="2015-10-20T20:39:12" updateDate="2015-10-21T01:17:52" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1135,1198" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cTop>0</cTop>
          <cSubTitle><![CDATA[Výroba a realizace montovaných staveb, ocelové haly a konstrukce]]></cSubTitle>
          <cContent><![CDATA[<p>Kovotrend</p>]]></cContent>
          <dtAdvertisement id="1140" parentID="1198" level="5" creatorID="0" sortOrder="1" createDate="2015-08-10T20:24:32" updateDate="2015-10-21T01:17:51" nodeName="Prodavačka" urlName="prodavačka" path="-1,1124,1138,1135,1198,1140" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aAdvertiser>1153</aAdvertiser>
            <aTop>1</aTop>
            <aContent><![CDATA[<p>obsah</p>]]></aContent>
            <aRegion><![CDATA[Plzeňský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Potravinářství a potravinářská chemie]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola bez maturity]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Plzeň]]></aCity>
          </dtAdvertisement>
          <dtAdvertisement id="1162" parentID="1198" level="5" creatorID="0" sortOrder="2" createDate="2015-08-16T21:43:45" updateDate="2015-10-21T01:17:50" nodeName="Malíř pokojů" urlName="malíř-pokojů" path="-1,1124,1138,1135,1198,1162" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aAdvertiser>1153</aAdvertiser>
            <aTop>1</aTop>
            <aRegion><![CDATA[Plzeňský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Práce na IČO]]></aTypeOfWork>
            <aWorkingField><![CDATA[Umění a užité umění]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední odborná škola s maturitou]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Plzeň]]></aCity>
          </dtAdvertisement>
          <dtAdvertisement id="1200" parentID="1198" level="5" creatorID="0" sortOrder="2" createDate="2015-10-20T21:21:55" updateDate="2015-10-21T01:17:52" nodeName="Asistentka" urlName="asistentka" path="-1,1124,1138,1135,1198,1200" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Obsah pozice</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Střední škola s maturitou]]></aRequiredEducation>
            <aZtp>0</aZtp>
            <aCity><![CDATA[Zlín]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
      <dtCompany id="1193" parentID="1138" level="3" creatorID="0" sortOrder="2" createDate="2015-10-20T20:32:45" updateDate="2015-10-21T01:17:49" nodeName="Thermont" urlName="thermont" path="-1,1124,1138,1193" isDoc="" nodeType="1133" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1132" nodeTypeAlias="dtCompany">
        <hiddenInNavi>0</hiddenInNavi>
        <kredit><![CDATA[150]]></kredit>
        <dtCompanyContent id="1194" parentID="1193" level="4" creatorID="0" sortOrder="0" createDate="2015-10-20T20:33:59" updateDate="2015-10-21T01:17:52" nodeName="Obsah" urlName="obsah" path="-1,1124,1138,1193,1194" isDoc="" nodeType="1192" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1191" nodeTypeAlias="dtCompanyContent">
          <hiddenInNavi>0</hiddenInNavi>
          <cTop>1</cTop>
          <cSubTitle><![CDATA[Výroba a realizace montovaných staveb, ocelové haly a konstrukce]]></cSubTitle>
          <cContent><![CDATA[<p>O společnosti</p>]]></cContent>
          <dtAdvertisement id="1196" parentID="1194" level="5" creatorID="0" sortOrder="1" createDate="2015-10-20T20:37:00" updateDate="2015-10-21T01:17:51" nodeName="Ekonomický poradce" urlName="ekonomický-poradce" path="-1,1124,1138,1193,1194,1196" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>0</aTop>
            <aContent><![CDATA[<p>Hledáme nové zaměstnance</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Ekonomika a administrativa]]></aWorkingField>
            <aRequiredEducation><![CDATA[Vysoká škola]]></aRequiredEducation>
            <aZtp>1</aZtp>
            <aCity><![CDATA[Zlín]]></aCity>
          </dtAdvertisement>
          <dtAdvertisement id="1197" parentID="1194" level="5" creatorID="0" sortOrder="2" createDate="2015-10-20T20:38:04" updateDate="2015-10-21T01:17:51" nodeName="Právník" urlName="právník" path="-1,1124,1138,1193,1194,1197" isDoc="" nodeType="1130" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1129" nodeTypeAlias="dtAdvertisement">
            <hiddenInNavi>0</hiddenInNavi>
            <aTop>1</aTop>
            <aContent><![CDATA[<p>Právo nade vše</p>]]></aContent>
            <aRegion><![CDATA[Zlínský kraj]]></aRegion>
            <aTypeOfWork><![CDATA[Hlavní pracovní poměr]]></aTypeOfWork>
            <aWorkingField><![CDATA[Právo, právní a veřejnoprávní činnost]]></aWorkingField>
            <aRequiredEducation><![CDATA[Vysoká škola]]></aRequiredEducation>
            <aZtp>0</aZtp>
            <aCity><![CDATA[Zlín]]></aCity>
          </dtAdvertisement>
        </dtCompanyContent>
      </dtCompany>
    </dtCompanyList>
    <dtRichtextpage id="1159" parentID="1124" level="2" creatorID="0" sortOrder="5" createDate="2015-08-16T19:29:14" updateDate="2015-10-09T09:13:14" nodeName="Můj profil" urlName="muj-profil" path="-1,1124,1159" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="EditProfileForm" />]]></bodyText>
    </dtRichtextpage>
    <dtRichtextpage id="1164" parentID="1124" level="2" creatorID="0" sortOrder="6" createDate="2015-08-16T22:14:20" updateDate="2015-10-09T09:13:14" nodeName="Registrace" urlName="registrace" path="-1,1124,1164" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1156" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>1</hiddenInNavi>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="RegisterForm" />
<p> </p>]]></bodyText>
    </dtRichtextpage>
    <dtNewsList id="1173" parentID="1124" level="2" creatorID="0" sortOrder="7" createDate="2015-08-21T20:23:23" updateDate="2015-10-09T09:13:14" nodeName="Aktuality" urlName="aktuality" path="-1,1124,1173" isDoc="" nodeType="1169" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1168" nodeTypeAlias="dtNewsList">
      <hiddenInNavi>1</hiddenInNavi>
      <dtNews id="1174" parentID="1173" level="3" creatorID="0" sortOrder="0" createDate="2015-08-21T20:26:00" updateDate="2015-08-21T20:51:30" nodeName="Nový web" urlName="novy-web" path="-1,1124,1173,1174" isDoc="" nodeType="1171" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1170" nodeTypeAlias="dtNews">
        <hiddenInNavi>0</hiddenInNavi>
        <contentNews><![CDATA[<p>Zprovoznili jsme pro Vás nový <strong>web</strong></p>]]></contentNews>
      </dtNews>
    </dtNewsList>
    <dtRichtextpage id="1184" parentID="1124" level="2" creatorID="0" sortOrder="8" createDate="2015-10-11T21:48:53" updateDate="2015-10-11T21:48:53" nodeName="Test registrace" urlName="test-registrace" path="-1,1124,1184" isDoc="" nodeType="1157" creatorName="Administrátor" writerName="Administrátor" writerID="0" template="1183" nodeTypeAlias="dtRichtextpage">
      <hiddenInNavi>0</hiddenInNavi>
      <metaTitle><![CDATA[Test registrace]]></metaTitle>
    </dtRichtextpage>
  </Home>
</root>