@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Xml.XPath
@using Umbraco.Web

@{
    var IsTOP = @Request.QueryString["IsTOPAdvertisement"];
}
<div class="col-md-12">
    <div class="row">
        @Html.Action("Overview", "AdvertisementList")
    	@*@Html.Action("Overview", "AdvertisementList", new JobsplusUmbraco.Models.AdvertisementList { WorkingField = "obor", Region = "region" })*@     
    </div>
</div>

		