@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using Jobsplus.Backoffice
@{
    var advertisements = Umbraco.TypedContentAtXPath("//dtAdvertisement").Where(p => JobsplusConstants.BrigadeWorkTypes.Contains(p.GetPropertyValue("aTypeOfWork").ToString()) == false);
}

<span class="countInfoTabs">@advertisements.Count()</span>
