@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
<div class="col-md-12">
	<div class="row">
		<div class="col-md-8">
			@CurrentPage.Parent.Name
			<br/>
			@CurrentPage.Name
		</div>
		<div class="col-md-4">
			<input type="submit" value="Mám zájem o tuto pozici >" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			@CurrentPage.region
			<br/>
			@CurrentPage.contentAdvertisement
		</div>
		<div class="col-md-4">
			
		</div>
	</div>	
</div>
