@model IEnumerable<Jobsplus.Backoffice.Models.JobTemplate>

@{
    var success = TempData["JobTemplateSubmitIsSuccess"] != null;
}

@if (success)
{
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;
                Šablona byla uložena!
            </div>
            <div class="col-md-6 col-sm-6 text-right"><a href="@Url.Action("CloseSuccessMessage", new { url = Request.RawUrl })">Zavřít</a></div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12"><a href="detail/" class="btn btn-default violet">Vytvořit šablonu</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "JobTemplates"))
        {
            if (Model != null && Model.Count() > 0)
            {
                <table class="list">
                    <tr>
                        <th>Název</th>
                        <th>Název pracovní pozice</th>
                        <th>&nbsp;</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.JobName)</td>
                            <td>
                                <a href=@("detail?ID=" + item.Id) class=" btn btn-default violet">Detail</a>
                                <a href=@("?ID=" + item.Id) class=" btn btn-default violet">Smazat</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="noAdvertisements">firma nemá zadané žádné šablony</div>
            }      
        }
    </div>
</div>
