@inherits Umbraco.Web.Mvc.UmbracoViewPage<MemberCandidate>
@using JobsplusUmbraco.Models

<div class="row">
    <div class="col-mb-12 text-center">
        <h3>Registrace proběhla úspěšně!</h3>
        <h4>Zbývá jen aktivovat Váš účet ...</h4>
        <p>
            Právě jsme zaslali povrzující zprávu na Váš email @Model.Email. Pro aktivaci Vašeho účtu stačí už jen kliknout na odkaz v této zprávě.<br />
            Poté se již můžete přihlásit a čerpat výhod, které Vám registrace na našem portále přináší ;-)
        </p>
        <p>
            <a href="/" class="btn btn-medium">Pokračovat</a>
        </p>
    </div>
</div>